
nav {
    width: 600px;
    height: inherit;
    display: flex;
    text-align: right;
}

.nav-item {
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px 20px 0px 20px;
    color: white;
    text-decoration: none;
}

Link {
    text-decoration: none;
}